.ninjaBadge{
    display: grid;
    gap: 12px;
    grid-template-columns: 52px 1fr;
    grid-auto-flow: column;
}

.ninjaBadge figure{
    width: 52px;
    height: 52px;
    background-color: var(--color-1);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ninjaBadge span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
