.drop_down{
    background-color: var(--bg-2);
    padding: 12px;
    border-radius: var(--border-radius);
    margin-bottom: 24px;
}
.dropdown_header{
    height: 52px;
    /* height: 96px; */
    width: 100%;
    display: flex;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
}
.icon_select_false{
    transform: rotate(0);
    transition: all ease-in .4s;
}
.icon_select_true{
    transform: rotate(180deg);
    transition: all ease-in .4s;
}
.pd_0{
    padding: 0;
}
.wrapper_down{
    height: 0;
    opacity: 0;
    transition: all ease-in 0s;
}
.wrapper_down_active{
    height: 100%;
    opacity: 1;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    transition: all ease-in .3s;
    margin-top: 12px;
}
.card_data{
    width: 100%;
    max-width: 100%;
    padding: 16px;
    background-color: var(--bg-3);
    border-radius: var(--border-radius);
}
.card_data h3{
    margin-bottom: 14px;
}
.card_data p{
    margin: 0;
}

.hidden{
    display: none;
}

@media screen and (max-width: 560px) {
    .wrapper_down_active{
        grid-template-columns: 1fr;
    }
}
