.section{
    max-width: var(--max-w);
    margin-bottom: 46px;
}

.images_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 12px;
}

.rellenuto{
    padding-left: 10%;
}