.section{
    width: 85vw;
    height: 200vh;
    /* background-color: red; */
    padding-right: 12px;
    scroll-snap-align: center;
}
.carrousel{
    /* width: 100%; */
    display: grid;
    grid-gap: 0;
    /* grid-template-columns: repeat(4, 85vw );  */ /*the number of sections is dynamic that is why we use js, in the styles of the component */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;



    
}

.carrousel::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: var(--gray);
    /* box-shadow: 0px 39px 56px -56px rgba(250, 244, 240, 0.05), 0px 7px 10px -400px rgba(250, 244, 240, 0.2), 0px -82px 68px -64px rgba(96, 68, 144, 0.3), 0px 98px 100px -48px rgba(202, 172, 255, 0.3), 0px 4px 18px rgba(2, 2, 2, 0.3), inset 0px 1px 40px rgba(227, 222, 255, 0.05); */
    backdrop-filter: blur(100px);

}
.carrousel::-webkit-scrollbar-thumb {
    background: var(--card-background);
}


/* .carrousel section:nth-child(1){
    background-color: blue;
}
.carrousel section:nth-child(2){
    background-color: rgb(128, 26, 0);
}
.carrousel section:nth-child(3){
    background-color: rgb(7, 71, 36);
}
.carrousel section:nth-child(4){
    background-color: tomato;
}

 */



@media screen and (max-width: 560px) {
    .section{
        width: calc(100vw - 48px);
    }
    .carrousel{
        /* grid-template-columns: repeat(5, calc(100vw - 48px) ); */
    }
}