.figure_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.f_w_border_radius {
  border-radius: 12px;
}

.figure_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(223, 223, 33, 0) 50%,
    rgb(16, 16, 18) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*     mix-blend-mode: lighten; */
  filter: contrast(80%) brightness(80%) opacity(80%);
  z-index: 1;
}
.figcaption {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: 500;
}
.img{
  border-radius: 5px;
  display: block;
  background-color: red;
}

.loading{
  animation: fade 8s infinite;
}
@keyframes fade {
  0% {
    opacity: .1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}
/* .loading::before{
  z-index:3;
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  color: var(--color-1);
  background-image: url("data:image/svg+xml,%3Csvg height='800px' width='800px' version='1.1' id='_x32_' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M318.214,193.785L255.996,0l-62.211,193.785L0,255.996l193.785,62.219L255.996,512l62.219-193.786L512,255.996 L318.214,193.785z M255.996,282.491c-14.628,0-26.495-11.858-26.495-26.495c0-14.628,11.867-26.495,26.495-26.495 c14.637,0,26.503,11.867,26.503,26.495C282.499,270.633,270.633,282.491,255.996,282.491z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover; 
}*/



/* =========== = =======================*/
/* 		 FULL SCREEN   
/* =========== = =======================*/

.modal_screen, .closeModal,.containerCarrousel, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  padding: 0 1em;
  animation-duration: .5s;
  animation-name: showModal;
}

.closeModal {
  position: absolute;
  font-size: 1.3em;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: var(--bg-2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .3s ease;
  border: 3px solid transparent;
  transform: scale(1);

}
.closeModal:hover,
.closeModal:active {
  border: 1px solid var(--color-2);
  background-color: var(--bg-2);
  transform: scale(1.2);
}

.containerCarrousel{
  background-color: rgba(0, 0, 0, 0.212);
  width: 700px;
  padding:0 30px;
  height: 90vh;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
}


.descriptionFullScreen {
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 2em;
  padding: 0 .5em;
  width: 100%;
  font-weight: bold;
  line-height: 1.5em;
  min-height: 58px;
}

.btn{
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  z-index: 10;
  background-color: var(--bg-2);
  transition: all .3s ease;
  font-size: 2em;
}
.btn:hover{
  background-color: rgb(37, 36, 36);
}
.btn:active{
  outline: none;
  border: none;
  background: none;
}
.btnLeft{
  left: 20.5%;
}
.btnLeft:active{
  outline: none;
  border: none;
  background: none;
}
.btnRight{
right: 20.5%;
}


@media screen and (min-width: 768px) {
  .descriptionFullScreen {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .btn{
    bottom:10%;
  }
  .btnLeft{
    left: 5%;
  }
  .btnRight{
  right: 5%;
  }
  .count{
    margin-top: 1.5em;
  }
  .closeModal{
    top: 10px;
  }
}
@media screen and (max-width: 1024px){
  .btnLeft{
    left: 10%;
  }
  .btnRight{
  right: 10%;
  }
}
@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  } 
}
