.figure_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: brightness(90%)  contrast(125%)  saturate(1.25);
  /* filter: contrast(75%)  saturate(1.35)  brightness(90%) */
  
  display: block;
  background-color: rgba(34, 34, 34, 0.262);
}

.f_w_border_radius {
  border-radius: 12px;
}

.figure_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(228, 228, 23, 0) 50%,
    rgba(23, 21, 22, 0.55) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* mix-blend-mode: darken; */
  /* mix-blend-mode: lighten; */
  filter: brightness(10%) ;
  z-index: 1;
}

.figcaption {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 1;
  font-size: 1.6rem;
  font-weight: 500;
}
.img{
  border-radius: 5px;
  display: block;
}

.loading{
  width: 100%;
  height: 100%;
  filter: saturate(4.5);
  animation: fade 8s infinite;
}
@keyframes fade {
  0% {
    opacity: .3;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}
.figure_wrapper_loading {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: contrast(100%) saturate(1.35);
  display: block;
  background-color: rgba(34, 34, 34, 0.262);
}
.figure_wrapper_loading::after {
  content: "";
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient_animation_2 1.8s linear infinite;
  z-index: 300;
}
@keyframes gradient_animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* =========== = =======================*/
/* 		 FULL SCREEN   
/* =========== = =======================*/

.modal_screen, .closeModal,.containerCarrousel, .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  padding: 0 1em;
  animation-duration: .5s;
  animation-name: showModal;
}

.closeModal {
  position: absolute;
  font-size: 1.3em;
  top: 5%;
  right: 5%;
  cursor: pointer;
  background-color: var(--bg-2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .3s ease;
  border: 3px solid transparent;
  transform: scale(1);

}
.closeModal:hover,
.closeModal:active {
  border: 1px solid var(--color-2);
  background-color: var(--bg-2);
  transform: scale(1.2);
}

.containerCarrousel{
  background-color: rgba(0, 0, 0, 0.212);
  width: 700px;
  padding:0 30px;
  height: 90vh;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
}


.descriptionFullScreen {
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 2em;
  padding: 0 .5em;
  width: 100%;
  font-weight: bold;
  line-height: 1.5em;
  min-height: 58px;
}

.btn{
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  z-index: 10;
  background-color: var(--bg-2);
  transition: all .3s ease;
  font-size: 2em;
}
.btn:hover{
  background-color: rgb(37, 36, 36);
}
.btn:active{
  outline: none;
  border: none;
  background: none;
}
.btnLeft{
  left: 20.5%;
}
.btnLeft:active{
  outline: none;
  border: none;
  background: none;
}
.btnRight{
right: 20.5%;
}


@media screen and (min-width: 768px) {
  .descriptionFullScreen {
    width: 500px;
  }
}
@media screen and (max-width: 768px) {
  .btn{
    bottom:10%;
  }
  .btnLeft{
    left: 5%;
  }
  .btnRight{
  right: 5%;
  }
  .count{
    margin-top: 1.5em;
  }
  .closeModal{
    top: 10px;
  }
}
@media screen and (max-width: 1024px){
  .btnLeft{
    left: 10%;
  }
  .btnRight{
  right: 10%;
  }
}
@keyframes showModal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  } 
}
