.main{
    height: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr );
    grid-template-areas: "info carrousel";
    grid-auto-flow: column;
    gap:12px;
    overflow: hidden;
    
}
.header_info{
    grid-area: "info";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    margin-left: 7.5vw;

}
.image_header{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.alias{
    margin-top: 2px;
    margin-bottom: 28px;
}

@media screen and (max-width: 760px) {
    .main{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas:  "carrousel" "info";
        grid-auto-flow: column;
    }
    .header_info{
        position: sticky;
        bottom: 0;
        margin-left: 24px;
    }
}
@media screen and (min-width: 560px) {
 
}