.main {
    max-width: var(--max-w);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "carrousel" "info";
    grid-auto-flow: column;

    overflow: hidden;
    margin: auto;
    position: relative;
}

.header_info {
    width: 100%;
    max-width: calc(100vw - ( 2 * var(--wrapper-margin)));
    grid-area: "info";
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    /* gap: 12px; */
    /* margin-left: 7.5vw; */

}

.image_header {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.alias {
    /* margin-top: 2px; */
    margin-bottom: 0px;
}

@media screen and (min-width: 760px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "info carrousel";
        gap: 12px;
    }
    .header_info {
        margin-left: var(--wrapper-margin);
    }
}
@media screen and (min-width: 970px) {

    .header_info {
        margin-left: 0;
    }
}