.span_text{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
    color: var(--dark-color-2);
}
.defectPadding{
    /* padding-bottom: 2px; */
    margin: 0;
}

@media screen and (max-width: 560px) {

    .span_text{
        font-size: 1.6rem;
        font-weight: 300;
        margin: 0;
    }
}
