.backNavHeader{
    width: 100%;
    max-width: var(--max-w);
    margin: 50px auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 12px;
    box-sizing: border-box;
    padding: 0 var(--wrapper-margin);
}

.backNavHeader p{
    margin: 0;
}

.hidden{
    display: none;
}