.app_wrapper {
  /*   background-color: red; */
  width: calc(100% - 15%);
  margin: auto;
  height: 100%;
  background-color: rgba(190, 46, 46, 0.137);
}


@media screen and (max-width: 560px) {
  .app_wrapper {
    width: calc(100% - 48px);
  }
}