.sub_title{
    font-size: 3rem;
    font-weight: 500;
}
.defectPadding{
    /* padding-top: 72px; */
    padding-bottom: 12px;
}

@media screen and (max-width: 560px) {

    .sub_title{
        font-size: 2.4rem;
        font-weight: 500;

    }
}
